body {
  background-color: black;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.a,
.b,
.c,
.d,
.e,
.f {
  width: 80px;
  height: 70px;
  background-color: blueviolet;
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;

  align-items: center;
  height: 50px;

  /*justify-content: space-around;
  align-items: stretch;*/

  background-color: darkgrey;
}

li {
  /*height: 50px;*/

  line-height: 50px;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.385);
  list-style: none;
  text-align: center;
}

.together {
  display: flex;
  justify-content: space-around;
  justify-content: center;

  align-items: center;

  background-color: darkgrey;

  height: 300px;
}

.together :nth-child(2) {
  background-color: blue;
}

.together :nth-child(3) {
  background-color: whitesmoke;
}

.together :nth-child(4) {
  background-color: purple;
}

.together :nth-child(5) {
  background-color: burlywood;
}

.together :nth-child(6) {
  background-color: cornflowerblue;
}

h1 {
  color: aliceblue;
}
.a,
.b,
.c,
.d,
.e,
.f {
  display: flex;

  justify-content: center;
  align-items: center;
}
